
<header>
    <p id="search-link"><a href="/map">Find tweets</a></p>
    <div id="profile-pic-header"><a href="/profile"><img src="<%= user.twitter.profileImage %>"></div>
    <div id="username-logged-in"><a href="/profile"><%= user.twitter.username %></a></div>
</header>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-camera"></span> Profile Page</h1>
        <a href="/" class="btn btn-default btn-sm">Home</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-3">
            <div class="well">
                <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>

                    <p>
                        <div id="profile-pic"><img src="<%= user.twitter.profileImage %>"></div><br>
                        <strong>username</strong>: <%= user.twitter.username %><br>
                        <strong>displayName</strong>: <%= user.twitter.displayName %>
                    </p>

            </div>
        </div>
        <div class="col-sm-9">
            <div class="img-display">
                <div class="img-card">
                    insert erb tags for images here
                    each img should be 280px wide, with margin of 6px on either side
                    play around with height as necessary
                </div>
            </div>
        </div>

    </div>

</div>